*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    background:linear-gradient(135deg,#111,#1b1b1b,#000);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:420px;
    background:#1f1f1f;
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,0,0,.5);
}

h1{
    color:#d4af37;
    margin-bottom:10px;
    font-size:34px;
}

p{
    color:#ddd;
    margin-bottom:25px;
}

.btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    width:100%;
    padding:16px;
    margin:12px 0;
    text-decoration:none;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    color:#fff;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.03);
}

.menu{
    background:#d4af37;
    color:#111;
}

.youtube{
    background:#ff0000;
}

.instagram{
    background:#E1306C;
}

.facebook{
    background:#1877F2;
}

.tiktok{
    background:#000;
    border:1px solid #555;
}

footer{
    margin-top:25px;
    color:#999;
    font-size:14px;
}
